
        <h1>Unit Tests <span id="unit-tests"></span><a href="#unit-tests" class="hashlink">&para;</a></h1>
<div class="toc"><ol><li><a href="#running-basic-and-advanced-template-tests">Running basic and advanced template tests</a></li>
<li><a href="#framework-unit-tests">Framework unit tests</a></li></ol></div>
<blockquote class="note"><p><strong>Note: </strong>This section is under development.</p>
</blockquote>
<p>A unit test verifies that a single unit of code is working as expected. In object-oriented programming, the most basic
code unit is a class. A unit test thus mainly needs to verify that each of the class interface methods works properly.
That is, given different input parameters, the test verifies the method returns expected results.
Unit tests are usually developed by people who write the classes being tested.</p>
<p>Unit testing in Yii is built on top of PHPUnit and, optionally, Codeception so it's recommended to go through their docs:</p>
<ul>
<li><a href="http://phpunit.de/manual/current/en/writing-tests-for-phpunit.html">PHPUnit docs starting from chapter 2</a>.</li>
<li><a href="http://codeception.com/docs/05-UnitTests">Codeception Unit Tests</a>.</li>
</ul>
<h2>Running basic and advanced template tests <span id="running-basic-and-advanced-template-tests"></span><a href="#running-basic-and-advanced-template-tests" class="hashlink">&para;</a></h2><p>If you've started with advanced template, please refer to <a href="https://github.com/yiisoft/yii2-app-advanced/blob/master/docs/guide/start-testing.md">"testing" guide</a>
for more details about running tests.  </p>
<p>If you've started with basic template, check its <a href="https://github.com/yiisoft/yii2-app-basic/blob/master/README.md#testing">README "testing" section</a>.</p>
<h2>Framework unit tests <span id="framework-unit-tests"></span><a href="#framework-unit-tests" class="hashlink">&para;</a></h2><p>If you want to run unit tests for Yii framework itself follow
"<a href="https://github.com/yiisoft/yii2/blob/master/docs/internals/getting-started.md">Getting started with Yii 2 development</a>".</p>