
        <h1>Url Helper <span id="url-helper"></span><a href="#url-helper" class="hashlink">&para;</a></h1>
<div class="toc"><ol><li><a href="#getting-common-urls">Getting Common URLs</a></li>
<li><a href="#creating-urls">Creating URLs</a></li>
<li><a href="#remember-urls">Remember URLs</a></li>
<li><a href="#checking-relative-urls">Checking Relative URLs</a></li></ol></div>
<p>Url helper provides a set of static methods for managing URLs.</p>
<h2>Getting Common URLs  <span id="getting-common-urls"></span><a href="#getting-common-urls" class="hashlink">&para;</a></h2><p>There are two methods you can use to get common URLs: home URL and base URL of the current request. In order to get
home URL, use the following:</p>
<pre><code class="hljs php language-php"><span class="hljs-variable">$relativeHomeUrl</span> = Url::home();
<span class="hljs-variable">$absoluteHomeUrl</span> = Url::home(<span class="hljs-keyword">true</span>);
<span class="hljs-variable">$httpsAbsoluteHomeUrl</span> = Url::home(<span class="hljs-string">'https'</span>);
</code></pre>
<p>If no parameter is passed, the generated URL is relative. You can either pass <code>true</code> to get an absolute URL for the current
schema or specify a schema explicitly (<code>https</code>, <code>http</code>).</p>
<p>To get the base URL of the current request use the following:</p>
<pre><code class="hljs php language-php"><span class="hljs-variable">$relativeBaseUrl</span> = Url::base();
<span class="hljs-variable">$absoluteBaseUrl</span> = Url::base(<span class="hljs-keyword">true</span>);
<span class="hljs-variable">$httpsAbsoluteBaseUrl</span> = Url::base(<span class="hljs-string">'https'</span>);
</code></pre>
<p>The only parameter of the method works exactly the same as for <code>Url::home()</code>.</p>
<h2>Creating URLs  <span id="creating-urls"></span><a href="#creating-urls" class="hashlink">&para;</a></h2><p>In order to create a URL to a given route use the <code>Url::toRoute()</code> method. The method uses <a href="yii-web-urlmanager.html">yii\web\UrlManager</a> to create
a URL:</p>
<pre><code class="hljs php language-php"><span class="hljs-variable">$url</span> = Url::toRoute([<span class="hljs-string">'product/view'</span>, <span class="hljs-string">'id'</span> =&gt; <span class="hljs-number">42</span>]);
</code></pre>
<p>You may specify the route as a string, e.g., <code>site/index</code>. You may also use an array if you want to specify additional
query parameters for the URL being created. The array format must be:</p>
<pre><code class="hljs php language-php"><span class="hljs-comment">// generates: /index.php?r=site%2Findex&amp;param1=value1&amp;param2=value2</span>
[<span class="hljs-string">'site/index'</span>, <span class="hljs-string">'param1'</span> =&gt; <span class="hljs-string">'value1'</span>, <span class="hljs-string">'param2'</span> =&gt; <span class="hljs-string">'value2'</span>]
</code></pre>
<p>If you want to create a URL with an anchor, you can use the array format with a <code>#</code> parameter. For example,</p>
<pre><code class="hljs php language-php"><span class="hljs-comment">// generates: /index.php?r=site%2Findex&amp;param1=value1#name</span>
[<span class="hljs-string">'site/index'</span>, <span class="hljs-string">'param1'</span> =&gt; <span class="hljs-string">'value1'</span>, <span class="hljs-string">'#'</span> =&gt; <span class="hljs-string">'name'</span>]
</code></pre>
<p>A route may be either absolute or relative. An absolute route has a leading slash (e.g. <code>/site/index</code>) while a relative
route has none (e.g. <code>site/index</code> or <code>index</code>). A relative route will be converted into an absolute one by the following rules:</p>
<ul>
<li>If the route is an empty string, the current <a href="yii-base-controller.html#$route-detail">route</a> will be used;</li>
<li>If the route contains no slashes at all (e.g. <code>index</code>), it is considered to be an action ID of the current controller
and will be prepended with <a href="yii-base-controller.html#$uniqueId-detail">yii\web\Controller::$uniqueId</a>;</li>
<li>If the route has no leading slash (e.g. <code>site/index</code>), it is considered to be a route relative to the current module
and will be prepended with the module's <a href="yii-base-module.html#$uniqueId-detail">uniqueId</a>.</li>
</ul>
<p>Starting from version 2.0.2, you may specify a route in terms of an <a href="guide-concept-aliases.html">alias</a>. If this is the case,
the alias will first be converted into the actual route which will then be turned into an absolute route according
to the above rules.</p>
<p>Below are some examples of using this method:</p>
<pre><code class="hljs php language-php"><span class="hljs-comment">// /index.php?r=site%2Findex</span>
<span class="hljs-keyword">echo</span> Url::toRoute(<span class="hljs-string">'site/index'</span>);

<span class="hljs-comment">// /index.php?r=site%2Findex&amp;src=ref1#name</span>
<span class="hljs-keyword">echo</span> Url::toRoute([<span class="hljs-string">'site/index'</span>, <span class="hljs-string">'src'</span> =&gt; <span class="hljs-string">'ref1'</span>, <span class="hljs-string">'#'</span> =&gt; <span class="hljs-string">'name'</span>]);

<span class="hljs-comment">// /index.php?r=post%2Fedit&amp;id=100     assume the alias "@postEdit" is defined as "post/edit"</span>
<span class="hljs-keyword">echo</span> Url::toRoute([<span class="hljs-string">'@postEdit'</span>, <span class="hljs-string">'id'</span> =&gt; <span class="hljs-number">100</span>]);

<span class="hljs-comment">// http://www.example.com/index.php?r=site%2Findex</span>
<span class="hljs-keyword">echo</span> Url::toRoute(<span class="hljs-string">'site/index'</span>, <span class="hljs-keyword">true</span>);

<span class="hljs-comment">// https://www.example.com/index.php?r=site%2Findex</span>
<span class="hljs-keyword">echo</span> Url::toRoute(<span class="hljs-string">'site/index'</span>, <span class="hljs-string">'https'</span>);
</code></pre>
<p>There's another method <code>Url::to()</code> that is very similar to <span class="broken-link">toRoute()</span>. The only difference is that this method
requires a route to be specified as an array only. If a string is given, it will be treated as a URL.</p>
<p>The first argument could be:</p>
<ul>
<li>an array: <span class="broken-link">toRoute()</span> will be called to generate the URL. For example:
<code>['site/index']</code>, <code>['post/index', 'page' =&gt; 2]</code>. Please refer to <span class="broken-link">toRoute()</span> for more details
on how to specify a route.</li>
<li>a string with a leading <code>@</code>: it is treated as an alias, and the corresponding aliased string
will be returned.</li>
<li>an empty string: the currently requested URL will be returned;</li>
<li>a normal string: it will be returned as is.</li>
</ul>
<p>When <code>$scheme</code> is specified (either a string or <code>true</code>), an absolute URL with host info (obtained from
<a href="yii-web-urlmanager.html#$hostInfo-detail">yii\web\UrlManager::$hostInfo</a>) will be returned. If <code>$url</code> is already an absolute URL, its scheme
will be replaced with the specified one.</p>
<p>Below are some usage examples:</p>
<pre><code class="hljs php language-php"><span class="hljs-comment">// /index.php?r=site%2Findex</span>
<span class="hljs-keyword">echo</span> Url::to([<span class="hljs-string">'site/index'</span>]);

<span class="hljs-comment">// /index.php?r=site%2Findex&amp;src=ref1#name</span>
<span class="hljs-keyword">echo</span> Url::to([<span class="hljs-string">'site/index'</span>, <span class="hljs-string">'src'</span> =&gt; <span class="hljs-string">'ref1'</span>, <span class="hljs-string">'#'</span> =&gt; <span class="hljs-string">'name'</span>]);

<span class="hljs-comment">// /index.php?r=post%2Fedit&amp;id=100     assume the alias "@postEdit" is defined as "post/edit"</span>
<span class="hljs-keyword">echo</span> Url::to([<span class="hljs-string">'@postEdit'</span>, <span class="hljs-string">'id'</span> =&gt; <span class="hljs-number">100</span>]);

<span class="hljs-comment">// the currently requested URL</span>
<span class="hljs-keyword">echo</span> Url::to();

<span class="hljs-comment">// /images/logo.gif</span>
<span class="hljs-keyword">echo</span> Url::to(<span class="hljs-string">'@web/images/logo.gif'</span>);

<span class="hljs-comment">// images/logo.gif</span>
<span class="hljs-keyword">echo</span> Url::to(<span class="hljs-string">'images/logo.gif'</span>);

<span class="hljs-comment">// http://www.example.com/images/logo.gif</span>
<span class="hljs-keyword">echo</span> Url::to(<span class="hljs-string">'@web/images/logo.gif'</span>, <span class="hljs-keyword">true</span>);

<span class="hljs-comment">// https://www.example.com/images/logo.gif</span>
<span class="hljs-keyword">echo</span> Url::to(<span class="hljs-string">'@web/images/logo.gif'</span>, <span class="hljs-string">'https'</span>);
</code></pre>
<p>Starting from version 2.0.3, you may use <a href="yii-helpers-baseurl.html#current()-detail">yii\helpers\Url::current()</a> to create a URL based on the currently
requested route and GET parameters. You may modify or remove some of the GET parameters or add new ones by
passing a <code>$params</code> parameter to the method. For example,</p>
<pre><code class="hljs php language-php"><span class="hljs-comment">// assume $_GET = ['id' =&gt; 123, 'src' =&gt; 'google'], current route is "post/view"</span>

<span class="hljs-comment">// /index.php?r=post%2Fview&amp;id=123&amp;src=google</span>
<span class="hljs-keyword">echo</span> Url::current();

<span class="hljs-comment">// /index.php?r=post%2Fview&amp;id=123</span>
<span class="hljs-keyword">echo</span> Url::current([<span class="hljs-string">'src'</span> =&gt; <span class="hljs-keyword">null</span>]);
<span class="hljs-comment">// /index.php?r=post%2Fview&amp;id=100&amp;src=google</span>
<span class="hljs-keyword">echo</span> Url::current([<span class="hljs-string">'id'</span> =&gt; <span class="hljs-number">100</span>]);
</code></pre>
<h2>Remember URLs  <span id="remember-urls"></span><a href="#remember-urls" class="hashlink">&para;</a></h2><p>There are cases when you need to remember URL and afterwards use it during processing of the one of sequential requests.
It can be achieved in the following way:</p>
<pre><code class="hljs php language-php"><span class="hljs-comment">// Remember current URL </span>
Url::remember();

<span class="hljs-comment">// Remember URL specified. See Url::to() for argument format.</span>
Url::remember([<span class="hljs-string">'product/view'</span>, <span class="hljs-string">'id'</span> =&gt; <span class="hljs-number">42</span>]);

<span class="hljs-comment">// Remember URL specified with a name given</span>
Url::remember([<span class="hljs-string">'product/view'</span>, <span class="hljs-string">'id'</span> =&gt; <span class="hljs-number">42</span>], <span class="hljs-string">'product'</span>);
</code></pre>
<p>In the next request we can get URL remembered in the following way:</p>
<pre><code class="hljs php language-php"><span class="hljs-variable">$url</span> = Url::previous();
<span class="hljs-variable">$productUrl</span> = Url::previous(<span class="hljs-string">'product'</span>);
</code></pre>
<h2>Checking Relative URLs  <span id="checking-relative-urls"></span><a href="#checking-relative-urls" class="hashlink">&para;</a></h2><p>To find out if URL is relative i.e. it doesn't have host info part, you can use the following code:</p>
<pre><code class="hljs php language-php"><span class="hljs-variable">$isRelative</span> = Url::isRelative(<span class="hljs-string">'test/it'</span>);
</code></pre>