
        <h1>Performance Tuning <span id="performance-tuning"></span><a href="#performance-tuning" class="hashlink">&para;</a></h1>
<div class="toc"><ol><li><a href="#optimizing-php">Optimizing your PHP Environment</a></li>
<li><a href="#disable-debug">Disabling Debug Mode</a></li>
<li><a href="#using-caching">Using Caching Techniques</a></li>
<li><a href="#enable-schema-caching">Enabling Schema Caching</a></li>
<li><a href="#optimizing-assets">Combining and Minimizing Assets</a></li>
<li><a href="#optimizing-session">Optimizing Session Storage</a></li>
<li><a href="#optimizing-databases">Optimizing Databases</a></li>
<li><a href="#using-arrays">Using Plain Arrays</a></li>
<li><a href="#optimizing-autoloader">Optimizing Composer Autoloader</a></li>
<li><a href="#processing-data-offline">Processing Data Offline</a></li>
<li><a href="#performance-profiling">Performance Profiling</a></li>
<li><a href="#prepare-application-for-scaling">Prepare application for scaling</a></li></ol></div>
<p>There are many factors affecting the performance of your Web application. Some are environmental, some are related 
with your code, while some others are related with Yii itself. In this section, we will enumerate most of these
factors and explain how you can improve your application performance by adjusting these factors.</p>
<h2>Optimizing your PHP Environment  <span id="optimizing-php"></span><a href="#optimizing-php" class="hashlink">&para;</a></h2><p>A well configured PHP environment is very important. In order to get maximum performance,</p>
<ul>
<li>Use the latest stable PHP version. Major releases of PHP may bring significant performance improvements.</li>
<li>Enable bytecode caching with <a href="http://php.net/opcache">Opcache</a> (PHP 5.5 or later) or <a href="http://ru2.php.net/apc">APC</a> 
(PHP 5.4 or earlier). Bytecode caching avoids the time spent in parsing and including PHP scripts for every
incoming request.</li>
<li><a href="https://github.com/samdark/realpath_cache_tuner">Tune <code>realpath()</code> cache</a>.</li>
</ul>
<h2>Disabling Debug Mode  <span id="disable-debug"></span><a href="#disable-debug" class="hashlink">&para;</a></h2><p>When running an application in production, you should disable debug mode. Yii uses the value of a constant
named <code>YII_DEBUG</code> to indicate whether debug mode should be enabled. When debug mode is enabled, Yii
will take extra time to generate and record debugging information.</p>
<p>You may place the following line of code at the beginning of the <a href="guide-structure-entry-scripts.html">entry script</a> to
disable debug mode:</p>
<pre><code class="hljs php language-php">defined(<span class="hljs-string">'YII_DEBUG'</span>) <span class="hljs-keyword">or</span> define(<span class="hljs-string">'YII_DEBUG'</span>, <span class="hljs-keyword">false</span>);
</code></pre>
<blockquote class="info"><p><strong>Info: </strong>The default value of <code>YII_DEBUG</code> is <code>false</code>. So if you are certain that you do not change its default
  value somewhere else in your application code, you may simply remove the above line to disable debug mode. </p>
</blockquote>
<h2>Using Caching Techniques  <span id="using-caching"></span><a href="#using-caching" class="hashlink">&para;</a></h2><p>You can use various caching techniques to significantly improve the performance of your application. For example,
if your application allows users to enter text in Markdown format, you may consider caching the parsed Markdown
content to avoid parsing the same Markdown text repeatedly in every request. Please refer to 
the <a href="guide-caching-overview.html">Caching</a> section to learn about the caching support provided by Yii.</p>
<h2>Enabling Schema Caching  <span id="enable-schema-caching"></span><a href="#enable-schema-caching" class="hashlink">&para;</a></h2><p>Schema caching is a special caching feature that should be enabled whenever you are using <a href="guide-db-active-record.html">Active Record</a>.
As you know, Active Record is intelligent enough to detect schema information (e.g. column names, column types, constraints)
about a DB table without requiring you to manually describe them. Active Record obtains this information by executing 
extra SQL queries. By enabling schema caching, the retrieved schema information will be saved in the cache and reused
in future requests.</p>
<p>To enable schema caching, configure a <code>cache</code> <a href="guide-structure-application-components.html">application component</a> to store
the schema information and set <a href="yii-db-connection.html#$enableSchemaCache-detail">yii\db\Connection::$enableSchemaCache</a> to be <code>true</code> in the <a href="guide-concept-configurations.html">application configuration</a>:</p>
<pre><code class="hljs php language-php"><span class="hljs-keyword">return</span> [
    <span class="hljs-comment">// ...</span>
    <span class="hljs-string">'components'</span> =&gt; [
        <span class="hljs-comment">// ...</span>
        <span class="hljs-string">'cache'</span> =&gt; [
            <span class="hljs-string">'class'</span> =&gt; <span class="hljs-string">'yii\caching\FileCache'</span>,
        ],
        <span class="hljs-string">'db'</span> =&gt; [
            <span class="hljs-string">'class'</span> =&gt; <span class="hljs-string">'yii\db\Connection'</span>,
            <span class="hljs-string">'dsn'</span> =&gt; <span class="hljs-string">'mysql:host=localhost;dbname=mydatabase'</span>,
            <span class="hljs-string">'username'</span> =&gt; <span class="hljs-string">'root'</span>,
            <span class="hljs-string">'password'</span> =&gt; <span class="hljs-string">''</span>,
            <span class="hljs-string">'enableSchemaCache'</span> =&gt; <span class="hljs-keyword">true</span>,

            <span class="hljs-comment">// Duration of schema cache.</span>
            <span class="hljs-string">'schemaCacheDuration'</span> =&gt; <span class="hljs-number">3600</span>,

            <span class="hljs-comment">// Name of the cache component used to store schema information</span>
            <span class="hljs-string">'schemaCache'</span> =&gt; <span class="hljs-string">'cache'</span>,
        ],
    ],
];
</code></pre>
<h2>Combining and Minimizing Assets  <span id="optimizing-assets"></span><a href="#optimizing-assets" class="hashlink">&para;</a></h2><p>A complex Web page often includes many CSS and/or JavaScript asset files. To reduce the number of HTTP requests 
and the overall download size of these assets, you should consider combining them into one single file and
compressing it. This may greatly improve the page loading time and reduce the server load. For more details,
please refer to the <a href="guide-structure-assets.html">Assets</a> section.</p>
<h2>Optimizing Session Storage  <span id="optimizing-session"></span><a href="#optimizing-session" class="hashlink">&para;</a></h2><p>By default session data are stored in files. The implementation is locking a file from opening a session to the point it's
closed either by <code>session_write_close()</code> (in Yii it could be done as <code>Yii::$app-&gt;session-&gt;close()</code>) or at the end of request.
While session file is locked all other requests which are trying to use the same session are blocked i.e. waiting for the
initial request to release session file. This is fine for development and probably small projects. But when it comes 
to handling massive concurrent requests, it is better to use more sophisticated storage, such as database. Yii supports
a variety of session storage out of box. You can use these storage by configuring the <code>session</code> component in the
<a href="guide-concept-configurations.html">application configuration</a> like the following,</p>
<pre><code class="hljs php language-php"><span class="hljs-keyword">return</span> [
    <span class="hljs-comment">// ...</span>
    <span class="hljs-string">'components'</span> =&gt; [
        <span class="hljs-string">'session'</span> =&gt; [
            <span class="hljs-string">'class'</span> =&gt; <span class="hljs-string">'yii\web\DbSession'</span>,

            <span class="hljs-comment">// Set the following if you want to use DB component other than</span>
            <span class="hljs-comment">// default 'db'.</span>
            <span class="hljs-comment">// 'db' =&gt; 'mydb',</span>

            <span class="hljs-comment">// To override default session table, set the following</span>
            <span class="hljs-comment">// 'sessionTable' =&gt; 'my_session',</span>
        ],
    ],
];
</code></pre>
<p>The above configuration uses a database table to store session data. By default, it will use the <code>db</code> application
component as the database connection and store the session data in the <code>session</code> table. You do have to create the
<code>session</code> table as follows in advance, though,</p>
<pre><code class="hljs sql language-sql"><span class="hljs-operator"><span class="hljs-keyword">CREATE</span> <span class="hljs-keyword">TABLE</span> <span class="hljs-keyword">session</span> (
    <span class="hljs-keyword">id</span> <span class="hljs-built_in">CHAR</span>(<span class="hljs-number">40</span>) <span class="hljs-keyword">NOT</span> <span class="hljs-literal">NULL</span> PRIMARY <span class="hljs-keyword">KEY</span>,
    <span class="hljs-keyword">expire</span> <span class="hljs-built_in">INTEGER</span>,
    <span class="hljs-keyword">data</span> <span class="hljs-built_in">BLOB</span>
)
</span></code></pre>
<p>You may also store session data in a cache by using <a href="yii-web-cachesession.html">yii\web\CacheSession</a>. In theory, you can use any supported
<a href="guide-caching-data.html#supported-cache-storage">cache storage</a>. Note, however, that some cache storage may flush cached data
when the storage limit is reached. For this reason, you should mainly use those cache storage that do not enforce
storage limit.</p>
<p>If you have <a href="http://redis.io/">Redis</a> on your server, it is highly recommended you use it as session storage by using
<a href="yii-redis-session.html">yii\redis\Session</a>.</p>
<h2>Optimizing Databases  <span id="optimizing-databases"></span><a href="#optimizing-databases" class="hashlink">&para;</a></h2><p>Executing DB queries and fetching data from databases are often the main performance bottleneck in
a Web application. Although using <a href="guide-caching-data.html">data caching</a> techniques may alleviate the performance hit,
it does not fully solve the problem. When the database contains enormous amounts of data and the cached data is invalid, 
fetching the latest data could be prohibitively expensive without proper database and query design.</p>
<p>A general technique to improve the performance of DB queries is to create indices for table columns that
need to be filtered by. For example, if you need to look for a user record by <code>username</code>, you should create an index
on <code>username</code>. Note that while indexing can make SELECT queries much faster, it will slow down INSERT, UPDATE and DELETE queries.</p>
<p>For complex DB queries, it is recommended that you create database views to save the query parsing and preparation time.</p>
<p>Last but not least, use <code>LIMIT</code> in your <code>SELECT</code> queries. This avoids fetching an overwhelming amount of data from the database
and exhausting the memory allocated to PHP.</p>
<h2>Using Plain Arrays  <span id="using-arrays"></span><a href="#using-arrays" class="hashlink">&para;</a></h2><p>Although <a href="guide-db-active-record.html">Active Record</a> is very convenient to use, it is not as efficient as using plain arrays
when you need to retrieve a large amount of data from database. In this case, you may consider calling <code>asArray()</code>
while using Active Record to query data so that the retrieved data is represented as arrays instead of bulky Active
Record objects. For example,</p>
<pre><code class="hljs php language-php"><span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">PostController</span> <span class="hljs-keyword">extends</span> <span class="hljs-title">Controller</span>
</span>{
    <span class="hljs-keyword">public</span> <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">actionIndex</span><span class="hljs-params">()</span>
    </span>{
        <span class="hljs-variable">$posts</span> = Post::find()-&gt;limit(<span class="hljs-number">100</span>)-&gt;asArray()-&gt;all();
        
        <span class="hljs-keyword">return</span> <span class="hljs-variable">$this</span>-&gt;render(<span class="hljs-string">'index'</span>, [<span class="hljs-string">'posts'</span> =&gt; <span class="hljs-variable">$posts</span>]);
    }
}
</code></pre>
<p>In the above code, <code>$posts</code> will be populated as an array of table rows. Each row is a plain array. To access
the <code>title</code> column of the i-th row, you may use the expression <code>$posts[$i]['title']</code>.</p>
<p>You may also use <a href="guide-db-dao.html">DAO</a> to build queries and retrieve data in plain arrays. </p>
<h2>Optimizing Composer Autoloader  <span id="optimizing-autoloader"></span><a href="#optimizing-autoloader" class="hashlink">&para;</a></h2><p>Because Composer autoloader is used to include most third-party class files, you should consider optimizing it
by executing the following command:</p>
<pre><code class="hljs nginx"><span class="hljs-title">composer</span> dumpautoload -o
</code></pre>
<h2>Processing Data Offline  <span id="processing-data-offline"></span><a href="#processing-data-offline" class="hashlink">&para;</a></h2><p>When a request involves some resource intensive operations, you should think of ways to perform those operations
in offline mode without having users wait for them to finish.</p>
<p>There are two methods to process data offline: pull and push. </p>
<p>In the pull method, whenever a request involves some complex operation, you create a task and save it in a persistent 
storage, such as database. You then use a separate process (such as a cron job) to pull the tasks and process them.
This method is easy to implement, but it has some drawbacks. For example, the task process needs to periodically pull
from the task storage. If the pull frequency is too low, the tasks may be processed with great delay, but if the frequency
is too high, it will introduce high overhead.</p>
<p>In the push method, you would use a message queue (e.g. RabbitMQ, ActiveMQ, Amazon SQS, etc.) to manage the tasks. 
Whenever a new task is put on the queue, it will initiate or notify the task handling process to trigger the task processing.</p>
<h2>Performance Profiling  <span id="performance-profiling"></span><a href="#performance-profiling" class="hashlink">&para;</a></h2><p>You should profile your code to find out the performance bottlenecks and take appropriate measures accordingly.
The following profiling tools may be useful:</p>
<ul>
<li><a href="https://github.com/yiisoft/yii2-debug/blob/master/docs/guide/README.md">Yii debug toolbar and debugger</a></li>
<li><a href="https://blackfire.io/">Blackfire</a></li>
<li><a href="http://www.php.net/manual/en/book.xhprof.php">XHProf</a></li>
<li><a href="http://xdebug.org/docs/profiler">XDebug profiler</a></li>
</ul>
<h2>Prepare application for scaling <span id="prepare-application-for-scaling"></span><a href="#prepare-application-for-scaling" class="hashlink">&para;</a></h2><p>When nothing helps you may try making your application scalabe. A good introduction is provided in <a href="https://github.com/samdark/yii2-cookbook/blob/master/book/scaling.md">Configuring a Yii 2 Application for an Autoscaling Stack</a>. For further reading you may refer to <a href="http://thehighload.com/">Web apps performance and scaling</a>.</p>