
        <h1>Acceptance Tests <span id="acceptance-tests"></span><a href="#acceptance-tests" class="hashlink">&para;</a></h1>
<div class="toc"><ol><li><a href="#running-basic-and-advanced-template-acceptance-tests">Running basic and advanced template acceptance tests</a></li></ol></div>
<blockquote class="note"><p><strong>Note: </strong>This section is under development.</p>
</blockquote>
<ul>
<li><a href="http://codeception.com/docs/03-AcceptanceTests">Codeception Acceptance Tests</a></li>
</ul>
<h2>Running basic and advanced template acceptance tests <span id="running-basic-and-advanced-template-acceptance-tests"></span><a href="#running-basic-and-advanced-template-acceptance-tests" class="hashlink">&para;</a></h2><p>Please refer to instructions provided in <code>apps/advanced/tests/README.md</code> and <code>apps/basic/tests/README.md</code>.</p>