
        <h1>Running Applications <span id="running-applications"></span><a href="#running-applications" class="hashlink">&para;</a></h1>
<div class="toc"><ol><li><a href="#functionality">Functionality</a></li>
<li><a href="#application-structure">Application Structure</a></li>
<li><a href="#request-lifecycle">Request Lifecycle</a></li></ol></div>
<p>After installing Yii, you have a working Yii application that can be accessed via
the URL <code>http://hostname/basic/web/index.php</code> or <code>http://hostname/index.php</code>, depending
upon your configuration. This section will introduce the application's built-in functionality,
how the code is organized, and how the application handles requests in general.</p>
<blockquote class="info"><p><strong>Info: </strong>For simplicity, throughout this "Getting Started" tutorial, it's assumed that you have set <code>basic/web</code>
  as the document root of your Web server, and configured the URL for accessing
  your application to be <code>http://hostname/index.php</code> or something similar.
  For your needs, please adjust the URLs in our descriptions accordingly.</p>
</blockquote>
<p>Note that unlike framework itself, after project template is installed it's all yours. You're free to add or delete
code and overall modify it as you need.</p>
<h2>Functionality  <span id="functionality"></span><a href="#functionality" class="hashlink">&para;</a></h2><p>The basic application installed contains four pages:</p>
<ul>
<li>the homepage, displayed when you access the URL <code>http://hostname/index.php</code>,</li>
<li>the "About" page,</li>
<li>the "Contact" page, which displays a contact form that allows end users to contact you via email,</li>
<li>and the "Login" page, which displays a login form that can be used to authenticate end users. Try logging in
with "admin/admin", and you will find the "Login" main menu item will change to "Logout".</li>
</ul>
<p>These pages share a common header and footer. The header contains a main menu bar to allow navigation
among different pages.</p>
<p>You should also see a toolbar at the bottom of the browser window.
This is a useful <a href="https://github.com/yiisoft/yii2-debug/blob/master/docs/guide/README.md">debugger tool</a> provided by Yii to record and display a lot of debugging information, such as log messages, response statuses, the database queries run, and so on.</p>
<p>Additionally to the web application, there is a console script called <code>yii</code>, which is located in the applications base directory.
This script can be used to run background and maintenance tasks for the application, which are described
in the <a href="guide-tutorial-console.html">Console Application Section</a>.</p>
<h2>Application Structure  <span id="application-structure"></span><a href="#application-structure" class="hashlink">&para;</a></h2><p>The most important directories and files in your application are (assuming the application's root directory is <code>basic</code>):</p>
<pre><code class="hljs sql">basic/                  application base path
    composer.json       used by Composer, describes package information
    config/             contains application and other configurations
        console.php     the console application configuration
        web.php         the Web application configuration
    commands/           contains console command classes
    controllers/        contains controller classes
    models/             contains model classes
    runtime/            contains files generated by Yii during runtime, such as logs and <span class="hljs-operator"><span class="hljs-keyword">cache</span> files
    vendor/             contains the installed Composer packages, <span class="hljs-keyword">including</span> the Yii framework itself
    views/              contains <span class="hljs-keyword">view</span> files
    web/                application Web root, contains Web <span class="hljs-keyword">accessible</span> files
        assets/         contains published asset files (javascript <span class="hljs-keyword">and</span> css) <span class="hljs-keyword">by</span> Yii
        <span class="hljs-keyword">index</span>.php       the entry (<span class="hljs-keyword">or</span> bootstrap) script <span class="hljs-keyword">for</span> the application
    yii                 the Yii console command execution script
</span></code></pre>
<p>In general, the files in the application can be divided into two types: those under <code>basic/web</code> and those
under other directories. The former can be directly accessed via HTTP (i.e., in a browser), while the latter can not and should not be.</p>
<p>Yii implements the <a href="http://wikipedia.org/wiki/Model-view-controller">model-view-controller (MVC)</a> architectural pattern,
which is reflected in the above directory organization. The <code>models</code> directory contains all <a href="guide-structure-models.html">model classes</a>,
the <code>views</code> directory contains all <a href="guide-structure-views.html">view scripts</a>, and the <code>controllers</code> directory contains
all <a href="guide-structure-controllers.html">controller classes</a>.</p>
<p>The following diagram shows the static structure of an application.</p>
<p><img src="images/application-structure.png" alt="Static Structure of Application" /></p>
<p>Each application has an entry script <code>web/index.php</code> which is the only Web accessible PHP script in the application.
The entry script takes an incoming request and creates an <a href="guide-structure-applications.html">application</a> instance to handle it.
The <a href="guide-structure-applications.html">application</a> resolves the request with the help of its <a href="guide-concept-components.html">components</a>,
and dispatches the request to the MVC elements. <a href="guide-structure-widgets.html">Widgets</a> are used in the <a href="guide-structure-views.html">views</a>
to help build complex and dynamic user interface elements.</p>
<h2>Request Lifecycle  <span id="request-lifecycle"></span><a href="#request-lifecycle" class="hashlink">&para;</a></h2><p>The following diagram shows how an application handles a request.</p>
<p><img src="images/request-lifecycle.png" alt="Request Lifecycle" /></p>
<ol>
<li>A user makes a request to the <a href="guide-structure-entry-scripts.html">entry script</a> <code>web/index.php</code>.</li>
<li>The entry script loads the application <a href="guide-concept-configurations.html">configuration</a> and creates
an <a href="guide-structure-applications.html">application</a> instance to handle the request.</li>
<li>The application resolves the requested <a href="guide-runtime-routing.html">route</a> with the help of
the <a href="guide-runtime-requests.html">request</a> application component.</li>
<li>The application creates a <a href="guide-structure-controllers.html">controller</a> instance to handle the request.</li>
<li>The controller creates an <a href="guide-structure-controllers.html">action</a> instance and performs the filters for the action.</li>
<li>If any filter fails, the action is cancelled.</li>
<li>If all filters pass, the action is executed.</li>
<li>The action loads a data model, possibly from a database.</li>
<li>The action renders a view, providing it with the data model.</li>
<li>The rendered result is returned to the <a href="guide-runtime-responses.html">response</a> application component.</li>
<li>The response component sends the rendered result to the user's browser.</li>
</ol>