
        <h1>Sorting <span id="sorting"></span><a href="#sorting" class="hashlink">&para;</a></h1><p>When displaying multiple rows of data, it is often needed that the data be sorted according to some columns
specified by end users. Yii uses a <a href="yii-data-sort.html">yii\data\Sort</a> object to represent the information about a sorting schema.
In particular, </p>
<ul>
<li><a href="yii-data-sort.html#$attributes-detail">attributes</a> specifies the <em>attributes</em> by which the data can be sorted.
An attribute can be as simple as a <a href="guide-structure-models.html#attributes">model attribute</a>. It can also be a composite
one by combining multiple model attributes or DB columns. More details will be given in the following.</li>
<li><a href="yii-data-sort.html#$attributeOrders-detail">attributeOrders</a> gives the currently requested ordering directions for 
each attribute.</li>
<li><a href="yii-data-sort.html#$orders-detail">orders</a> gives the ordering directions in terms of the low-level columns.</li>
</ul>
<p>To use <a href="yii-data-sort.html">yii\data\Sort</a>, first declare which attributes can be sorted. Then retrieve the currently requested
ordering information from <a href="yii-data-sort.html#$attributeOrders-detail">attributeOrders</a> or <a href="yii-data-sort.html#$orders-detail">orders</a>
and use them to customize the data query. For example,</p>
<pre><code class="hljs php language-php"><span class="hljs-keyword">use</span> <span class="hljs-title">yii</span>\<span class="hljs-title">data</span>\<span class="hljs-title">Sort</span>;

<span class="hljs-variable">$sort</span> = <span class="hljs-keyword">new</span> Sort([
    <span class="hljs-string">'attributes'</span> =&gt; [
        <span class="hljs-string">'age'</span>,
        <span class="hljs-string">'name'</span> =&gt; [
            <span class="hljs-string">'asc'</span> =&gt; [<span class="hljs-string">'first_name'</span> =&gt; SORT_ASC, <span class="hljs-string">'last_name'</span> =&gt; SORT_ASC],
            <span class="hljs-string">'desc'</span> =&gt; [<span class="hljs-string">'first_name'</span> =&gt; SORT_DESC, <span class="hljs-string">'last_name'</span> =&gt; SORT_DESC],
            <span class="hljs-string">'default'</span> =&gt; SORT_DESC,
            <span class="hljs-string">'label'</span> =&gt; <span class="hljs-string">'Name'</span>,
        ],
    ],
]);

<span class="hljs-variable">$articles</span> = Article::find()
    -&gt;where([<span class="hljs-string">'status'</span> =&gt; <span class="hljs-number">1</span>])
    -&gt;orderBy(<span class="hljs-variable">$sort</span>-&gt;orders)
    -&gt;all();
</code></pre>
<p>In the above example, two attributes are declared for the <a href="yii-data-sort.html">Sort</a> object: <code>age</code> and <code>name</code>. </p>
<p>The <code>age</code> attribute is a <em>simple</em> attribute corresponding to the <code>age</code> attribute of the <code>Article</code> Active Record class.
It is equivalent to the following declaration:</p>
<pre><code class="hljs php language-php"><span class="hljs-string">'age'</span> =&gt; [
    <span class="hljs-string">'asc'</span> =&gt; [<span class="hljs-string">'age'</span> =&gt; SORT_ASC],
    <span class="hljs-string">'desc'</span> =&gt; [<span class="hljs-string">'age'</span> =&gt; SORT_DESC],
    <span class="hljs-string">'default'</span> =&gt; SORT_ASC,
    <span class="hljs-string">'label'</span> =&gt; Inflector::camel2words(<span class="hljs-string">'age'</span>),
]
</code></pre>
<p>The <code>name</code> attribute is a <em>composite</em> attribute defined by <code>first_name</code> and <code>last_name</code> of <code>Article</code>. It is declared
using the following array structure:</p>
<ul>
<li>The <code>asc</code> and <code>desc</code> elements specify how to sort by the attribute in ascending and descending directions, respectively.
Their values represent the actual columns and the directions by which the data should be sorted by. You can specify
one or multiple columns to indicate simple ordering or composite ordering.</li>
<li>The <code>default</code> element specifies the direction by which the attribute should be sorted when initially requested. 
It defaults to ascending order, meaning if it is not sorted before and you request to sort by this attribute, 
the data will be sorted by this attribute in ascending order.</li>
<li>The <code>label</code> element specifies what label should be used when calling <a href="yii-data-sort.html#link()-detail">yii\data\Sort::link()</a> to create a sort link.
If not set, <a href="yii-helpers-baseinflector.html#camel2words()-detail">yii\helpers\Inflector::camel2words()</a> will be called to generate a label from the attribute name.
Note that it will not be HTML-encoded.</li>
</ul>
<blockquote class="info"><p><strong>Info: </strong>You can directly feed the value of <a href="yii-data-sort.html#$orders-detail">orders</a> to the database query to build
  its <code>ORDER BY</code> clause. Do not use <a href="yii-data-sort.html#$attributeOrders-detail">attributeOrders</a> because some of the
  attributes may be composite and cannot be recognized by the database query.</p>
</blockquote>
<p>You can call <a href="yii-data-sort.html#link()-detail">yii\data\Sort::link()</a> to generate a hyperlink upon which end users can click to request sorting
the data by the specified attribute. You may also call <a href="yii-data-sort.html#createUrl()-detail">yii\data\Sort::createUrl()</a> to create a sortable URL.
For example,</p>
<pre><code class="hljs php language-php"><span class="hljs-comment">// specifies the route that the URL to be created should use</span>
<span class="hljs-comment">// If you do not specify this, the currently requested route will be used</span>
<span class="hljs-variable">$sort</span>-&gt;route = <span class="hljs-string">'article/index'</span>;

<span class="hljs-comment">// display links leading to sort by name and age, respectively</span>
<span class="hljs-keyword">echo</span> <span class="hljs-variable">$sort</span>-&gt;link(<span class="hljs-string">'name'</span>) . <span class="hljs-string">' | '</span> . <span class="hljs-variable">$sort</span>-&gt;link(<span class="hljs-string">'age'</span>);

<span class="hljs-comment">// displays: /index.php?r=article%2Findex&amp;sort=age</span>
<span class="hljs-keyword">echo</span> <span class="hljs-variable">$sort</span>-&gt;createUrl(<span class="hljs-string">'age'</span>);
</code></pre>
<p><a href="yii-data-sort.html">yii\data\Sort</a> checks the <code>sort</code> query parameter to determine which attributes are being requested for sorting.
You may specify a default ordering via <a href="yii-data-sort.html#$defaultOrder-detail">yii\data\Sort::$defaultOrder</a> when the query parameter is not present.
You may also customize the name of the query parameter by configuring the <a href="yii-data-sort.html#$sortParam-detail">sortParam</a> property.</p>
       