
        <h1>The Definitive Guide to Yii 2.0 <span id="the-definitive-guide-to-yii-20"></span><a href="#the-definitive-guide-to-yii-20" class="hashlink">&para;</a></h1>
<div class="toc"><ol><li><a href="#introduction">Introduction</a></li>
<li><a href="#getting-started">Getting Started</a></li>
<li><a href="#application-structure">Application Structure</a></li>
<li><a href="#handling-requests">Handling Requests</a></li>
<li><a href="#key-concepts">Key Concepts</a></li>
<li><a href="#working-with-databases">Working with Databases</a></li>
<li><a href="#getting-data-from-users">Getting Data from Users</a></li>
<li><a href="#displaying-data">Displaying Data</a></li>
<li><a href="#security">Security</a></li>
<li><a href="#caching">Caching</a></li>
<li><a href="#restful-web-services">RESTful Web Services</a></li>
<li><a href="#development-tools">Development Tools</a></li>
<li><a href="#testing">Testing</a></li>
<li><a href="#special-topics">Special Topics</a></li>
<li><a href="#widgets">Widgets</a></li>
<li><a href="#helpers">Helpers</a></li></ol></div>
<p>This tutorial is released under the <a href="../doc/terms/index.html">Terms of Yii Documentation</a>.</p>
<p>All Rights Reserved.</p>
<p>2014 (c) Yii Software LLC.</p>
<h2>Introduction <span id="introduction"></span><a href="#introduction" class="hashlink">&para;</a></h2><ul>
<li><a href="guide-intro-yii.html">About Yii</a></li>
<li><a href="guide-intro-upgrade-from-v1.html">Upgrading from Version 1.1</a></li>
</ul>
<h2>Getting Started <span id="getting-started"></span><a href="#getting-started" class="hashlink">&para;</a></h2><ul>
<li><a href="guide-start-installation.html">Installing Yii</a></li>
<li><a href="guide-start-workflow.html">Running Applications</a></li>
<li><a href="guide-start-hello.html">Saying Hello</a></li>
<li><a href="guide-start-forms.html">Working with Forms</a></li>
<li><a href="guide-start-databases.html">Working with Databases</a></li>
<li><a href="guide-start-gii.html">Generating Code with Gii</a></li>
<li><a href="guide-start-looking-ahead.html">Looking Ahead</a></li>
</ul>
<h2>Application Structure <span id="application-structure"></span><a href="#application-structure" class="hashlink">&para;</a></h2><ul>
<li><a href="guide-structure-overview.html">Overview</a></li>
<li><a href="guide-structure-entry-scripts.html">Entry Scripts</a></li>
<li><a href="guide-structure-applications.html">Applications</a></li>
<li><a href="guide-structure-application-components.html">Application Components</a></li>
<li><a href="guide-structure-controllers.html">Controllers</a></li>
<li><a href="guide-structure-models.html">Models</a></li>
<li><a href="guide-structure-views.html">Views</a></li>
<li><a href="guide-structure-modules.html">Modules</a></li>
<li><a href="guide-structure-filters.html">Filters</a></li>
<li><a href="guide-structure-widgets.html">Widgets</a></li>
<li><a href="guide-structure-assets.html">Assets</a></li>
<li><a href="guide-structure-extensions.html">Extensions</a></li>
</ul>
<h2>Handling Requests <span id="handling-requests"></span><a href="#handling-requests" class="hashlink">&para;</a></h2><ul>
<li><a href="guide-runtime-overview.html">Overview</a></li>
<li><a href="guide-runtime-bootstrapping.html">Bootstrapping</a></li>
<li><a href="guide-runtime-routing.html">Routing and URL Creation</a></li>
<li><a href="guide-runtime-requests.html">Requests</a></li>
<li><a href="guide-runtime-responses.html">Responses</a></li>
<li><a href="guide-runtime-sessions-cookies.html">Sessions and Cookies</a></li>
<li><a href="guide-runtime-handling-errors.html">Handling Errors</a></li>
<li><a href="guide-runtime-logging.html">Logging</a></li>
</ul>
<h2>Key Concepts <span id="key-concepts"></span><a href="#key-concepts" class="hashlink">&para;</a></h2><ul>
<li><a href="guide-concept-components.html">Components</a></li>
<li><a href="guide-concept-properties.html">Properties</a></li>
<li><a href="guide-concept-events.html">Events</a></li>
<li><a href="guide-concept-behaviors.html">Behaviors</a></li>
<li><a href="guide-concept-configurations.html">Configurations</a></li>
<li><a href="guide-concept-aliases.html">Aliases</a></li>
<li><a href="guide-concept-autoloading.html">Class Autoloading</a></li>
<li><a href="guide-concept-service-locator.html">Service Locator</a></li>
<li><a href="guide-concept-di-container.html">Dependency Injection Container</a></li>
</ul>
<h2>Working with Databases <span id="working-with-databases"></span><a href="#working-with-databases" class="hashlink">&para;</a></h2><ul>
<li><a href="guide-db-dao.html">Data Access Objects</a>: Connecting to a database, basic queries, transactions, and schema manipulation</li>
<li><a href="guide-db-query-builder.html">Query Builder</a>: Querying the database using a simple abstraction layer</li>
<li><a href="guide-db-active-record.html">Active Record</a>: The Active Record ORM, retrieving and manipulating records, and defining relations</li>
<li><a href="guide-db-migrations.html">Migrations</a>: Apply version control to your databases in a team development environment</li>
<li><a href="https://github.com/yiisoft/yii2-sphinx/blob/master/docs/guide/README.md">Sphinx</a></li>
<li><a href="https://github.com/yiisoft/yii2-redis/blob/master/docs/guide/README.md">Redis</a></li>
<li><a href="https://github.com/yiisoft/yii2-mongodb/blob/master/docs/guide/README.md">MongoDB</a></li>
<li><a href="https://github.com/yiisoft/yii2-elasticsearch/blob/master/docs/guide/README.md">ElasticSearch</a></li>
</ul>
<h2>Getting Data from Users <span id="getting-data-from-users"></span><a href="#getting-data-from-users" class="hashlink">&para;</a></h2><ul>
<li><a href="guide-input-forms.html">Creating Forms</a></li>
<li><a href="guide-input-validation.html">Validating Input</a></li>
<li><a href="guide-input-file-upload.html">Uploading Files</a></li>
<li><a href="guide-input-tabular-input.html">Collecting Tabular Input</a></li>
<li><a href="guide-input-multiple-models.html">Getting Data for Multiple Models</a></li>
</ul>
<h2>Displaying Data <span id="displaying-data"></span><a href="#displaying-data" class="hashlink">&para;</a></h2><ul>
<li><a href="guide-output-formatting.html">Data Formatting</a></li>
<li><a href="guide-output-pagination.html">Pagination</a></li>
<li><a href="guide-output-sorting.html">Sorting</a></li>
<li><a href="guide-output-data-providers.html">Data Providers</a></li>
<li><a href="guide-output-data-widgets.html">Data Widgets</a></li>
<li><a href="guide-output-client-scripts.html">Working with Client Scripts</a></li>
<li><a href="guide-output-theming.html">Theming</a></li>
</ul>
<h2>Security <span id="security"></span><a href="#security" class="hashlink">&para;</a></h2><ul>
<li><a href="guide-security-overview.html">Overview</a></li>
<li><a href="guide-security-authentication.html">Authentication</a></li>
<li><a href="guide-security-authorization.html">Authorization</a></li>
<li><a href="guide-security-passwords.html">Working with Passwords</a></li>
<li><a href="guide-security-cryptography.html">Cryptography</a></li>
<li><a href="https://github.com/yiisoft/yii2-authclient/blob/master/docs/guide/README.md">Auth Clients</a></li>
<li><a href="guide-security-best-practices.html">Best Practices</a></li>
</ul>
<h2>Caching <span id="caching"></span><a href="#caching" class="hashlink">&para;</a></h2><ul>
<li><a href="guide-caching-overview.html">Overview</a></li>
<li><a href="guide-caching-data.html">Data Caching</a></li>
<li><a href="guide-caching-fragment.html">Fragment Caching</a></li>
<li><a href="guide-caching-page.html">Page Caching</a></li>
<li><a href="guide-caching-http.html">HTTP Caching</a></li>
</ul>
<h2>RESTful Web Services <span id="restful-web-services"></span><a href="#restful-web-services" class="hashlink">&para;</a></h2><ul>
<li><a href="guide-rest-quick-start.html">Quick Start</a></li>
<li><a href="guide-rest-resources.html">Resources</a></li>
<li><a href="guide-rest-controllers.html">Controllers</a></li>
<li><a href="guide-rest-routing.html">Routing</a></li>
<li><a href="guide-rest-response-formatting.html">Response Formatting</a></li>
<li><a href="guide-rest-authentication.html">Authentication</a></li>
<li><a href="guide-rest-rate-limiting.html">Rate Limiting</a></li>
<li><a href="guide-rest-versioning.html">Versioning</a></li>
<li><a href="guide-rest-error-handling.html">Error Handling</a></li>
</ul>
<h2>Development Tools <span id="development-tools"></span><a href="#development-tools" class="hashlink">&para;</a></h2><ul>
<li><a href="https://github.com/yiisoft/yii2-debug/blob/master/docs/guide/README.md">Debug Toolbar and Debugger</a></li>
<li><a href="https://github.com/yiisoft/yii2-gii/blob/master/docs/guide/README.md">Generating Code using Gii</a></li>
<li><strong>TBD</strong> <a href="https://github.com/yiisoft/yii2-apidoc">Generating API Documentation</a></li>
</ul>
<h2>Testing <span id="testing"></span><a href="#testing" class="hashlink">&para;</a></h2><ul>
<li><a href="guide-test-overview.html">Overview</a></li>
<li><a href="guide-test-environment-setup.html">Testing environment setup</a></li>
<li><a href="guide-test-unit.html">Unit Tests</a></li>
<li><a href="guide-test-functional.html">Functional Tests</a></li>
<li><a href="guide-test-acceptance.html">Acceptance Tests</a></li>
<li><a href="guide-test-fixtures.html">Fixtures</a></li>
</ul>
<h2>Special Topics <span id="special-topics"></span><a href="#special-topics" class="hashlink">&para;</a></h2><ul>
<li><a href="https://github.com/yiisoft/yii2-app-advanced/blob/master/docs/guide/README.md">Advanced Project Template</a></li>
<li><a href="guide-tutorial-start-from-scratch.html">Building Application from Scratch</a></li>
<li><a href="guide-tutorial-console.html">Console Commands</a></li>
<li><a href="guide-tutorial-core-validators.html">Core Validators</a></li>
<li><a href="guide-tutorial-i18n.html">Internationalization</a></li>
<li><a href="guide-tutorial-mailing.html">Mailing</a></li>
<li><a href="guide-tutorial-performance-tuning.html">Performance Tuning</a></li>
<li><a href="guide-tutorial-shared-hosting.html">Shared Hosting Environment</a></li>
<li><a href="guide-tutorial-template-engines.html">Template Engines</a></li>
<li><a href="guide-tutorial-yii-integration.html">Working with Third-Party Code</a></li>
</ul>
<h2>Widgets <span id="widgets"></span><a href="#widgets" class="hashlink">&para;</a></h2><ul>
<li>GridView: <strong>TBD</strong> link to demo page</li>
<li>ListView: <strong>TBD</strong> link to demo page</li>
<li>DetailView: <strong>TBD</strong> link to demo page</li>
<li>ActiveForm: <strong>TBD</strong> link to demo page</li>
<li>Pjax: <strong>TBD</strong> link to demo page</li>
<li>Menu: <strong>TBD</strong> link to demo page</li>
<li>LinkPager: <strong>TBD</strong> link to demo page</li>
<li>LinkSorter: <strong>TBD</strong> link to demo page</li>
<li><a href="https://github.com/yiisoft/yii2-bootstrap/blob/master/docs/guide/README.md">Bootstrap Widgets</a></li>
<li><a href="https://github.com/yiisoft/yii2-jui/blob/master/docs/guide/README.md">jQuery UI Widgets</a></li>
</ul>
<h2>Helpers <span id="helpers"></span><a href="#helpers" class="hashlink">&para;</a></h2><ul>
<li><a href="guide-helper-overview.html">Overview</a></li>
<li><a href="guide-helper-array.html">ArrayHelper</a></li>
<li><a href="guide-helper-html.html">Html</a></li>
<li><a href="guide-helper-url.html">Url</a></li>
</ul>