<h1>Components <span id="components"></span><a href="#components" class="hashlink">&para;</a></h1><p>Components are the main building blocks of Yii applications. Components are instances of <a href="yii-base-component.html">yii\base\Component</a>,
or an extended class. The three main features that components provide to other classes are:</p>
<ul>
<li><a href="guide-concept-properties.html">Properties</a></li>
<li><a href="guide-concept-events.html">Events</a></li>
<li><a href="guide-concept-behaviors.html">Behaviors</a></li>
</ul>
<p>Separately and combined, these features make Yii classes much more customizable and easier to use. For example,
the included <a href="yii-jui-datepicker.html">date picker widget</a>, a user interface component, can be used in a <a href="guide-structure-view.html">view</a>
to generate an interactive date picker:</p>
<pre><code class="hljs php language-php"><span class="hljs-keyword">use</span> <span class="hljs-title">yii</span>\<span class="hljs-title">jui</span>\<span class="hljs-title">DatePicker</span>;

<span class="hljs-keyword">echo</span> DatePicker::widget([
    <span class="hljs-string">'language'</span> =&gt; <span class="hljs-string">'ru'</span>,
    <span class="hljs-string">'name'</span>  =&gt; <span class="hljs-string">'country'</span>,
    <span class="hljs-string">'clientOptions'</span> =&gt; [
        <span class="hljs-string">'dateFormat'</span> =&gt; <span class="hljs-string">'yy-mm-dd'</span>,
    ],
]);
</code></pre>
<p>The widget's properties are easily writable because the class extends <a href="yii-base-component.html">yii\base\Component</a>.</p>
<p>While components are very powerful, they are a bit heavier than normal objects, due to the fact that
it takes extra memory and CPU time to support <a href="guide-concept-events.html">event</a> and <a href="guide-concept-behaviors.html">behavior</a> functionality in particular.
If your components do not need these two features, you may consider extending your component class from
<a href="yii-base-object.html">yii\base\Object</a> instead of <a href="yii-base-component.html">yii\base\Component</a>. Doing so will make your components as efficient as normal PHP objects,
but with added support for <a href="guide-concept-properties.html">properties</a>.</p>
<p>When extending your class from <a href="yii-base-component.html">yii\base\Component</a> or <a href="yii-base-object.html">yii\base\Object</a>, it is recommended that you follow
these conventions:</p>
<ul>
<li>If you override the constructor, specify a <code>$config</code> parameter as the constructor's <em>last</em> parameter, and then pass this parameter
to the parent constructor.</li>
<li>Always call the parent constructor <em>at the end</em> of your overriding constructor.</li>
<li>If you override the <a href="yii-base-object.html#init()-detail">yii\base\Object::init()</a> method, make sure you call the parent implementation of <code>init()</code> <em>at the beginning</em> of your <code>init()</code> method.</li>
</ul>
<p>For example:</p>
<pre><code class="hljs php language-php"><span class="hljs-preprocessor">&lt;?php</span>

<span class="hljs-keyword">namespace</span> <span class="hljs-title">yii</span>\<span class="hljs-title">components</span>\<span class="hljs-title">MyClass</span>;

<span class="hljs-keyword">use</span> <span class="hljs-title">yii</span>\<span class="hljs-title">base</span>\<span class="hljs-title">Object</span>;

<span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">MyClass</span> <span class="hljs-keyword">extends</span> <span class="hljs-title">Object</span>
</span>{
    <span class="hljs-keyword">public</span> <span class="hljs-variable">$prop1</span>;
    <span class="hljs-keyword">public</span> <span class="hljs-variable">$prop2</span>;

    <span class="hljs-keyword">public</span> <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">__construct</span><span class="hljs-params">(<span class="hljs-variable">$param1</span>, <span class="hljs-variable">$param2</span>, <span class="hljs-variable">$config</span> = [])</span>
    </span>{
        <span class="hljs-comment">// ... initialization before configuration is applied</span>

        <span class="hljs-keyword">parent</span>::__construct(<span class="hljs-variable">$config</span>);
    }

    <span class="hljs-keyword">public</span> <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">init</span><span class="hljs-params">()</span>
    </span>{
        <span class="hljs-keyword">parent</span>::init();

        <span class="hljs-comment">// ... initialization after configuration is applied</span>
    }
}
</code></pre>
<p>Following these guidelines will make your components <a href="guide-concept-configurations.html">configurable</a> when they are created. For example:</p>
<pre><code class="hljs php language-php"><span class="hljs-variable">$component</span> = <span class="hljs-keyword">new</span> MyClass(<span class="hljs-number">1</span>, <span class="hljs-number">2</span>, [<span class="hljs-string">'prop1'</span> =&gt; <span class="hljs-number">3</span>, <span class="hljs-string">'prop2'</span> =&gt; <span class="hljs-number">4</span>]);
<span class="hljs-comment">// alternatively</span>
<span class="hljs-variable">$component</span> = \Yii::createObject([
    <span class="hljs-string">'class'</span> =&gt; MyClass::className(),
    <span class="hljs-string">'prop1'</span> =&gt; <span class="hljs-number">3</span>,
    <span class="hljs-string">'prop2'</span> =&gt; <span class="hljs-number">4</span>,
], [<span class="hljs-number">1</span>, <span class="hljs-number">2</span>]);
</code></pre>
<blockquote class="info"><p><strong>Info: </strong>While the approach of calling <a href="yii-baseyii.html#createObject()-detail">Yii::createObject()</a> looks more complicated, it is more powerful because it is
implemented on top of a <a href="guide-concept-di-container.html">dependency injection container</a>.</p>
</blockquote>
<p>The <a href="yii-base-object.html">yii\base\Object</a> class enforces the following object lifecycle:</p>
<ol>
<li>Pre-initialization within the constructor. You can set default property values here.</li>
<li>Object configuration via <code>$config</code>. The configuration may overwrite the default values set within the constructor.</li>
<li>Post-initialization within <a href="yii-base-object.html#init()-detail">init()</a>. You may override this method to perform sanity checks and normalization of the properties.</li>
<li>Object method calls.</li>
</ol>
<p>The first three steps all happen within the object's constructor. This means that once you get a class instance (i.e., an object),
that object has already been initialized to a proper, reliable state.</p>