
        <h1>Looking Ahead <span id="looking-ahead"></span><a href="#looking-ahead" class="hashlink">&para;</a></h1><p>If you've read through the entire "Getting Started" chapter, you have now created a complete Yii application. In the process, you have learned how to implement some commonly
needed features, such as getting data from users via an HTML form, fetching data from a database, and
displaying data in a paginated fashion. You have also learned how to use <a href="https://github.com/yiisoft/yii2-gii/blob/master/docs/guide/README.md">Gii</a> to generate
code automatically. Using Gii for code generation turns the bulk of your Web development process into a task as simple as just filling out some forms. </p>
<p>This section will summarize the Yii resources available to help you be more productive when using the framework.</p>
<ul>
<li>Documentation<ul>
<li><a href="guide-README.html">The Definitive Guide</a>:
As the name indicates, the guide precisely defines how Yii should work and provides general guidance
about using Yii. It is the single most important Yii tutorial, and one that you should read 
before writing any Yii code.</li>
<li><a href="index.html">The Class Reference</a>:
This specifies the usage of every class provided by Yii. It should be mainly used when you are writing
code and want to understand the usage of a particular class, method, property. Usage of the class reference is best only after a contextual understanding of the entire framework.</li>
<li><a href="../wiki/index01b6.html?tag=yii2">The Wiki Articles</a>:
The wiki articles are written by Yii users based on their own experiences. Most of them are written
like cookbook recipes, and show how to solve particular problems using Yii. While the quality of these
articles may not be as good as the Definitive Guide, they are useful in that they cover broader topics
and can often provide ready-to-use solutions.</li>
<li><a href="../doc/index.html">Books</a></li>
</ul>
</li>
<li><a href="../extensions/index.html">Extensions</a>:
Yii boasts a library of thousands of user-contributed extensions that can be easily plugged into your applications, thereby making your application development even faster and easier.</li>
<li>Community<ul>
<li>Forum: <a href="../forum/index.html">http://www.yiiframework.com/forum/</a></li>
<li>IRC chat: The #yii channel on the freenode network (<a href="irc://irc.freenode.net/yii">irc://irc.freenode.net/yii</a>)</li>
<li>Gitter chat: <a href="https://gitter.im/yiisoft/yii2">https://gitter.im/yiisoft/yii2</a></li>
<li>GitHub: <a href="https://github.com/yiisoft/yii2">https://github.com/yiisoft/yii2</a></li>
<li>Facebook: <a href="https://www.facebook.com/groups/yiitalk/">https://www.facebook.com/groups/yiitalk/</a></li>
<li>Twitter: <a href="https://twitter.com/yiiframework">https://twitter.com/yiiframework</a></li>
<li>LinkedIn: <a href="https://www.linkedin.com/groups/yii-framework-1483367">https://www.linkedin.com/groups/yii-framework-1483367</a></li>
<li>Stackoverflow: <a href="http://stackoverflow.com/questions/tagged/yii2">http://stackoverflow.com/questions/tagged/yii2</a></li>
</ul>
</li>
</ul>