
        <h1>Working with Passwords <span id="working-with-passwords"></span><a href="#working-with-passwords" class="hashlink">&para;</a></h1><p>Most developers know that passwords cannot be stored in plain text, but many developers believe it's still safe to hash
passwords using <code>md5</code> or <code>sha1</code>. There was a time when using the aforementioned hashing algorithms was sufficient,
but modern hardware makes it possible to reverse such hashes and even stronger ones very quickly using brute force attacks.</p>
<p>In order to provide increased security for user passwords, even in the worst case scenario (your application is breached),
you need to use a hashing algorithm that is resilient against brute force attacks. The best current choice is <code>bcrypt</code>.
In PHP, you can create a <code>bcrypt</code> hash using the <a href="http://php.net/manual/en/function.crypt.php">crypt function</a>. Yii provides
two helper functions which make using <code>crypt</code> to securely generate and verify hashes easier.</p>
<p>When a user provides a password for the first time (e.g., upon registration), the password needs to be hashed:</p>
<pre><code class="hljs php language-php"><span class="hljs-variable">$hash</span> = Yii::<span class="hljs-variable">$app</span>-&gt;getSecurity()-&gt;generatePasswordHash(<span class="hljs-variable">$password</span>);
</code></pre>
<p>The hash can then be associated with the corresponding model attribute, so it can be stored in the database for later use.</p>
<p>When a user attempts to log in, the submitted password must be verified against the previously hashed and stored password:</p>
<pre><code class="hljs php language-php"><span class="hljs-keyword">if</span> (Yii::<span class="hljs-variable">$app</span>-&gt;getSecurity()-&gt;validatePassword(<span class="hljs-variable">$password</span>, <span class="hljs-variable">$hash</span>)) {
    <span class="hljs-comment">// all good, logging user in</span>
} <span class="hljs-keyword">else</span> {
    <span class="hljs-comment">// wrong password</span>
}
</code></pre>