
        <h1>Functional Tests <span id="functional-tests"></span><a href="#functional-tests" class="hashlink">&para;</a></h1>
<div class="toc"><ol><li><a href="#running-basic-and-advanced-template-functional-tests">Running basic and advanced template functional tests</a></li></ol></div>
<blockquote class="note"><p><strong>Note: </strong>This section is under development.</p>
</blockquote>
<ul>
<li><a href="http://codeception.com/docs/04-FunctionalTests">Codeception Functional Tests</a></li>
</ul>
<h2>Running basic and advanced template functional tests <span id="running-basic-and-advanced-template-functional-tests"></span><a href="#running-basic-and-advanced-template-functional-tests" class="hashlink">&para;</a></h2><p>Please refer to instructions provided in <code>apps/advanced/tests/README.md</code> and <code>apps/basic/tests/README.md</code>.</p>